<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CtgServlet</servlet-name>
    <servlet-class>net.dfrz.controller.CtgServlet</servlet-class>
  </servlet>
  
	<servlet>
	  <servlet-name>ServletConfigurator</servlet-name>
	  <servlet-class>org.logicalcobwebs.proxool.configuration.ServletConfigurator</servlet-class>
	  <init-param>
	    <param-name>xmlFile</param-name>
	    <param-value>WEB-INF/proxool.xml</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet> 

	<servlet>
      <servlet-name>proxoolAdmin</servlet-name>
      <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
    </servlet>
	
    
    <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>net.dfrz.utils.CharacterEncodingFilter</filter-class>
      <init-param>
        <param-name>locale</param-name>
        <param-value>utf-8</param-value>
      </init-param>
    </filter>  

  <servlet-mapping>
    <servlet-name>CtgServlet</servlet-name>
    <url-pattern>/ctgMgr</url-pattern>
  </servlet-mapping>
  
  <filter-mapping>
     <filter-name>EncodingFilter</filter-name>
     <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
